.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/uploads/news/*
!uploads/news/.gitkeep

/uploads/info/*
!uploads/info/.gitkeep